/*头部*/
header{ background-color: #fff; height: 60px; display: flex; justify-content: flex-start; line-height: 60px;}
header a{ width: auto;height: auto;}
.left img{ position: absolute; top:1.5rem;right: 1.5rem;width: 0.8rem;height: 0.8rem;}
.center{ font-size: 18px; color: #fff; width: 60%; text-align: center;}

/*主要内容*/
.ul01{width: 100%;}
.ul01 li{margin:  0 5% 0 5%;height: 3rem; border-bottom: 1px solid rgba(0,0,0,0.1);line-height: 3rem;}
.ul01 .li01{font-size: 1.2rem; border: none  !important;}
.ul01 .li01 span{color: #999;opacity: 0.5;margin:  0 0.5rem;}
.ul01 .click{font-size: 1.3rem;font-weight: 800;}
.ul01 .li02{padding: 1.8rem 0 0 0;}
::-webkit-input-placeholder{color: #666;} 
.ul01 .li02 input{border: none;font-size:1rem;}
.ul01 .li05{width: 90%;border: none  !important;position: relative;top: 5rem;}
.ul01 .li05 p{text-align: center;margin:  0 10% 0 0; font-size: 0.7rem;color: #999;position: relative;top: -0.5rem;}
.ul01 .li05 input{border: none;width: 80%;margin:  0 0 0 10%;height: 2.8rem;border-radius: 8px;font-size: 1.1rem;color: #fff;background: #7fcaee;}


/*主要内容*/
.ul001{width: 100%;}
.ul001 li{margin:  0 5% 0 5%;height: 3rem; border-bottom: 1px solid rgba(0,0,0,0.1);line-height: 3rem;}
.ul001 .li01{font-size: 1.2rem; border: none  !important;}
.ul001 .li01 span{color: #999;opacity: 0.5;margin:  0 0.5rem;}
.ul001 .click{font-size: 1.3rem;font-weight: 800;}
.ul001 .li02{padding: 1.8rem 0 0 0; position: relative;}
::-webkit-input-placeholder{color: #666;} 
.ul001 .li02 input{border: none;font-size:1rem; position: relative;top: 5px;}
.ul001 .li02 span{border-radius:8px;background: #7fcaee;display: block;width: 6rem;height: 2rem;line-height:2rem;text-align: center;color: #fff;position: absolute;right: 0;top :40px;}
.ul001 .li05{width: 90%;border: none  !important;position: relative;top: 5rem;}
.ul001 .li05 p{text-align: center;margin:  0 10% 0 0; font-size: 0.7rem;color: #999;position: relative;top: -0.5rem;}
.ul001 .li05 input{border: none;width: 80%;margin:  0 0 0 10%;height: 2.8rem;border-radius: 8px;font-size: 1.1rem;color: #fff;background: #7fcaee;}


.bg_tis{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 100;}
.bg_tis div{width: 20%;padding: 0 0 10px 0;background: rgba(0,0,0,0.8);position: absolute;top:25%;left: 40%;border-radius: 8px;overflow: hidden;}
.bg_tis div p{width: 80%;text-align:center;margin: 0.5rem auto 0 auto;color: #fff;font-size: 1.1rem; font-size: 15px;}