header{
	width: 100%;
}
.header_bg{
	/*width: 100%;*/
	height: 13rem;
	background-image: url('../../img/my_page/purge4.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.header_top{
	position: absolute;
	top:5%;
	left: 6%;
}
.header_top>div{
	float: left;
}
.header_left{
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
}
.header_left img{
	width: 85%;
	height: 85%;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	top:7.5%;
	left: 7.5%;
}
.header_right{
	height: 5rem;
	padding:  0 0 0 1rem;
}
.header_right>p{
	height: 2.5rem;
	line-height: 3rem;
	color: #fff;
	font-size: 1.2rem;
}
.header_right>p>span>a{
	color: #fff;
}
.header_right>p:nth-of-type(2){
	width: 100%;
	position: relative;
	top: -0.8rem;
	left: 0;
	/*display: none;-------------------------未认证标志开关----------------*/
	/*height: 2rem;*/
}
.header_right div{
	/*display: none;-----------------------公司、电话开关------------------*/
}

.header_right img{
	width: 60%;
	height: 60%;
}
@-moz-document url-prefix() { .header_right img { 
		width: 100%;
	} } 

.header_right div>p{
	color: #989898;
	font-size: 1rem;
}
.header_right div>p:nth-of-type(2){
	position: relative;
	top: -0.8rem;
}
.header_right p em{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	background: url('../../img/my_page/enterprise.png') no-repeat;
	background-size: 100%;
	position: relative;
	top: 0.2rem;
	margin:  0 0.5rem;
	/*display: none;----------------------认证标志开关-----------------*/
}


main{
	background: #f8f8f8;
	padding:  0 0 4.5rem 0;
}
main>div{
	border-top: 1px solid #eae5e5;
	/*border-bottom: 1px solid #eae5e5;*/
	box-shadow:   0px 2px 4px -2px rgba(0,0,0,0.1);
	margin:  0 0 0.2rem 0;
	background: #fff;
}
main>div:nth-of-type(1){
	border-top: none;
}
main>div>div{
	width: 100%;
	height: 3.5rem;
	line-height: 3.5rem;
	border-bottom: 1px solid #eae5e5;
}
main>div>div>em{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	position: relative;
	top:0.9rem;
	left: 1rem;
}
.order{
	width: 100%;
	height: 5rem;
	background: #f8f8f8;
	border: none;
	position: relative;
	/*display: none;   /*--------------------------进出口开关---------------------------*/*/
	/*border: 1px solid #e5e5e5;*/
}
.order_son{
	width: 94%;
	height: 8rem;
	position: absolute;
	background: #fff;
	top: -3.2rem;
	left: 3%;
	/*border: 1px solid #989898;*/
	box-shadow:  0 0 8px 1px rgba(0,0,0,0.1);
	border-radius: 0.3rem;
}
.order_son>div{
	height: 4rem;
	text-align: center;
	
}
.order_son>div:nth-of-type(1){
	height: 4rem;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.order_top>div{
	float: left;
}
.order_left{
	width: 25%;
	height: 4rem;
	line-height: 2rem;
}
.order_left>div{
	height: 70%;
	width: 70%;
	margin:0.8rem 20% 15% 10%;
	border-right: 1px solid #eee;
}
.order_left img{
	width: 1.4rem;
	position: relative;
	/*top: 0.6rem;*/
	
}
.order_left em{
	width: 100%;
	display: block;
	line-height: 0rem;
	font-size: 0.7rem;
}
.order_right{
	width: 75%;
	display: flex;
}
.order_right>div{
	width: 33.33%;
	height: 4rem;
	line-height: 2rem;
}
.order_right p{
	margin: 0;
	padding: 0;
}
.order_right>div>p:nth-of-type(1){
	font-size: 0.9rem;
}
.order_right>div>p:nth-of-type(2){
	font-size: 1.2rem;
	color:#2c81d2 ;
	line-height: 1rem;
}
.main_YF div:nth-of-type(1) em{
	background:url('../../img/my_page/guanli.png') no-repeat;
	background-size: 81%;
}

.main_AF div:nth-of-type(1) em{
	background:url('../../img/my_page/information.png') no-repeat;
	background-size: 81%;
}
.main_AF div:nth-of-type(2) em{
	background:url('../../img/my_page/star.png') no-repeat;
	background-size: 78%;
}
.main_SF div:nth-of-type(1) em{
	background:url('../../img/my_page/hezoukehu.png') no-repeat;
	background-size: 81%;
}
.main_SF div:nth-of-type(2) em{
	background:url('../../img/my_page/daihezoukehu.png') no-repeat;
	background-size: 78%;
}
.main_BF div:nth-of-type(1) em{
	background:url('../../img/my_page/product.png') no-repeat ;
	background-size: 71%;
}
.main_BF div:nth-of-type(2) em{
	background:url('../../img/my_page/yes.png') no-repeat;
	background-size: 71%;
}
.main_CF div:nth-of-type(1) em{
	background:url('../../img/my_page/home.png') no-repeat ;
	background-size: 80%;
}
.main_CF div:nth-of-type(2) em{
	background:url('../../img/my_page/aircraft.png') no-repeat ;
	background-size: 75%;
}
.main_CF div:nth-of-type(3) em{
	background:url('../../img/my_page/set.png') no-repeat;
	background-size: 74%;
}
main>div span {
	font-size: 1.1rem;
	margin:  0 0 0 1.5rem ;
}
main>div i{
	display: inline-block;
	width: 1.5rem;
	height: 2rem;
	float: right;
	margin:  0 1rem 0 0;
	background: url('../../img/my_page/go.png') no-repeat;
	background-size: 120%;
	position: relative;
	top:1rem;
}

.footer{position: fixed;bottom: 0; left: 0; width: 100%; background: #fff; border-top:1px solid #eee;box-shadow:  0 3px 15px -3px rgba(0,0,0,0.6);}
.footer-ul{ display: flex;  width: 100%; justify-content: center;  padding: 10px 0 8px 0;}
.footer-ul li{ flex: 1; text-align: center;}
.footer-ul li p{ line-height: 15px; margin: 0;}
.fot-img{ width: 23px; height: 23px; position: relative;bottom: -2px;}
.bg_tis{width: 100% !important;height: 100%;position: fixed !important;top: 0 !important;left: 0 !important;z-index: 10;}
.bg_tis div{width: 22%;padding: 0 0 10px 0;background: rgba(0,0,0,0.8);position: absolute;top:25%;left: 40%;border-radius: 8px;overflow: hidden;}
.bg_tis div p{width: 80%;text-align:center;margin: 0.5rem auto 0 auto;color: #fff;font-size: 1.1rem; font-size: 15px;}







